*{
    margin: 0;
    font-family: "inter";
}

nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nav menu list */
#menu{
    display: flex;
    list-style: none;
    gap: 32px;
    justify-content: space-between;
}
/* nav menu list anchor */
#menu a{
    text-decoration: none;
    color: black;
    font-family: "inter";
    font-weight: 500;
}
/* nav button */
nav button{
    background-color: #30B868;
    color: white;
    font-weight: 500;
    width: 164px;
    height: 44px;
    border: 0;
    border-radius: 4px;
}
/* hero container */
.hero{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 154.5px 0 189.54px 0;
    color: white;
    text-align: center;
}
/* Small Banner In Hero */
.small-banner{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    background-color: white ;
    color: #30B868;
    border-radius: 999px;
    font-size: 16px;
}
/* Dots in Small Banner */
.dot {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: var(--#30B868);
}
/* Hero Title */
.hero-title span{
    display: block;
    font-size: 72px;
    font-weight: bold;
}
/* Hero Title line 2 */
#hero-title-line2{
    color: #30B868;
}
/* hero paragraph */
.hero-p span{
    display: block;
    margin: 16px;
}
/* Hero Button */
.hero-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 32px;
}
/* Green Button */
#hero-btn1{
    display: flex;
    height: 52px;
    background-color: #30B868;
    color: white;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    border: 0 ;
    border-radius: 4px;
    gap: 10px;
    padding: 10px 16px;
}
/* Transparent Button */
#hero-btn2{
    display: flex;
    height: 52px;
    background: transparent;
    color: white;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
     border: 1px solid #ffffff;
    border-radius: 4px;
    gap: 10px;
    padding: 10px 16px;
}
/* Section Note */
.note{
    text-align: center;
}
.note-title{
    padding-top: 48px;
}
.note-title h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.note-title p{
    font-size: 16px;
    color: #627382;
}

.note-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    gap: 16px;
    padding: 24px;
}

.note-card h4{
    margin: 16px;
}

.note-card p{
    color: #627382;
    font-size: 16px;
    margin: 16px;
}

.icon{
    background-color: #f95555;
    border-radius: 999px;
    padding: 13.6px;
}

.brain{
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    margin: 120px;
}

.brain-content{

}
#green-p{
    color: #30B868;
}

.brain-content h1{
    font-size: 48px;
    margin-top: 16px;
}
#gray-p{
    color: #627382;
    margin-top: 16px;
}

.brain-points{
    margin-top: 40px;
}
.brain-points p{
    margin-top: 16px;
}
.brain-points img{
    vertical-align: middle;
}

.eas{
    text-align: center;
    margin: 120px;
}

.eas h1{
    font-size: 40px;
}

.eas p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}

.eas button{
    display: flex;
    background-color: #30B868;
    border: 0;
    color: white;
    padding: 16px;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
#eas-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;

}
footer{
    background-color: #001931;
    padding-bottom: 30px;
}
.footer-content{
    display: flex;
    padding: 120px;
    justify-content: space-between;
    color: white;
}

.footer-line{
    text-align: center;
    color: white;
}

footer hr {
  border: none;
  opacity: 20%;
  margin-bottom: 30px;
  width: 90%;
  height: 1px;
  background-color: #e5e7eb;
  margin: 24px auto;
}